.col-md-2{
	padding-left: 0;
	padding-right: 0;
}

.overlay{
	position: absolute;
  font-size:2.5em;
	top: 70%;
  	bottom: 30%;
  	left: 50%;
  	right: 50%;
  	color:white;
  	visibility: hidden;
}

#portfolio{
  padding: 0;
}

.portfolio-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}