.col-md-2{
	padding-left: 0;
	padding-right: 0;
}

.overlay{
	position: absolute;
  font-size:1.5em;
  letter-spacing: 3px;
  font-weight: bold;
  pointer-events: none;
	top: 70%;
  	bottom: 30%;
  	left: 10%;
  	right: 50%;
  	color:white;
  	visibility: hidden;
}

#portfolio{
  padding: 2%;
}

.portfolio-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}